<%- include('../partial/header.ejs',{title:"signin"}) %>

     <div class="container mt-3">
        <form action="/post/addPost" method="post" class="bg-light p-4">
            <div class="mb-3">
                <label for="formGroupeExampleInput" class="form-label">Titre</label>
                <input type="text" class="form-control" name="title" id="formGroupeExampleInput" placeholder="Entrer le titre de la publication">
            </div>
            <div class="mb-3">
                <label for="formGroupeExampleInput" class="form-label">Image</label>
                <input type="file" class="form-control" name="image" id="formGroupeExampleInput2" placeholder="Choisir une image">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Texte</label>
                <textarea class="form-control" name="content" id="exampleFormControlTextarea1" rows="6"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Publier</button>
        </form>


