<% if(!locals.connected){%>

<h1>Cette  page n'est pas accessible pour le moment, veuillez vous connecter <a href="/users/signUp">se connecter</a></h1>

<% }else{ %>


<%- include('partial/header.ejs', { title: "home" }) %>

<h3 class="text-center">Bonjour</h3>



    
    <div class="container mt-3">
        <div class="card" style="width: 18rem; margin:auto;">

            <%posts.forEach(post => { %>
            <img src="/image/col.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><%= post.title%></h5>
                <p class="card-text"><%= post.content.toString().substr(0,30) %>
                <% if(post.content.toString().length > 30){ %>
                <a href="#" class=""> Voir plus...</a></p>
                <% } %>
                
            </div>
            <% });%>
        </div>
    </div>
    <%}%>
    
<!-- <$- include('partial/footer.ejs') %> -->

    

