body{
    background-color: blueviolet;
}

.navbar-brand{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-left: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 2px 2px 4px #000000;

}